<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook Read Page</h1>
        <div class="form-group">
            <label>Bno</label>
            <input type="text" class="form-control" name="Bno" th:value="${dto.bno}" readonly>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" name="content" rows="5" readonly>[[${dto.content}]]</textarea>
        </div>
        <div class="form-group">
            <label>Writer</label>
            <input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
        </div>
        <div class="form-group">
            <label>RegDate</label>
            <input type="text" class="form-control" name="regDate"
                   th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label>ModDate</label>
            <input type="text" class="form-control" name="modDate"
                   th:value="${#temporals.format(dto.modDate,'yyyy/MM//dd HH:mm:ss')}" readonly>
        </div>
        <a th:href="@{/board/modify(bno=${dto.bno},page=${requestDto.page},type=${requestDto.type},
        keyword=${requestDto.keyword})}">
            <button type="button" class="btn btn-primary">Modify</button>
        </a>
        <a th:href="@{/board/list(page=${requestDto.page},type=${requestDto.type},
        keyword=${requestDto.keyword})}">
            <button type="button" class="btn btn-info">List</button>
        </a>
        <div class="mt-4">
            <h5><span class="badge badge-info addReply">Add Reply</span></h5>
            <h5><span class="badge badge-secondary replyCount">Reply Count [[${dto.replyCount}]]</span></h5>
            <div class="list-group replyList">
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="replyText" placeholder="Reply Text...">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="replyer" type="text" placeholder="Replyer">
                            <input type="hidden" name="rno">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger replyRemove">Remove</button>
                        <button type="button" class="btn btn-warning replyModify">Modify</button>
                        <button type="button" class="btn btn-primary replySave">Save</button>
                        <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            $(document).ready(function (){
                var bno = [[${dto.bno}]];

                var listGroup = $(".replyList");

                function formatTime(str){
                    var date = new Date(str);

                    return date.getFullYear() + "/" +
                        (date.getMonth()+1) + "/" +
                        date.getDate() + ' ' +
                        date.getHours() + ':' +
                        date.getMinutes();
                }

                function loadJSONData(){
                    $.getJSON('/replies/board/' + bno, function (arr){
                        console.log(arr);

                        var str = "";

                        $('.replyCount').html("Reply Count  " + arr.length);

                        $.each(arr, function (idx, reply) {
                            console.log(reply);

                            str += '<div class="card-body" data-rno="' + reply.rno +'"><b>'+reply.rno +'</b>';
                            str += '    <h5 class="card-title">' + reply.text +'</h5>';
                            str += '    <h6 class="card-subtitle mb-2 text-muted">' +reply.replyer +'</h6>';
                            str += '    <p class="cart-test">' + formatTime(reply.regDate) + '</p>';
                            str += '</div>';
                        })

                        listGroup.html(str);
                    });
                }

                $(".replyCount").click(function (){
                    loadJSONData()
                })

                $(".replyList").on("click",".card-body", function (){
                    var rno = $(this).data("rno");

                    $("input[name='replyText']").val($(this).find('.card-title').html());
                    $("input[name='replyer']").val($(this).find('.card-subtitle').html());
                    $("input[name='rno']").val(rno);

                    $(".modal-footer .btn").hide();
                    $(".replyRemove, .replyModify, .replyClose").show();

                    modal.modal('show');
                })

                $(".replyRemove").on("click",function (){
                    var rno = $("input[name='rno']").val();

                    $.ajax({
                        url: '/replies/' + rno,
                        method: 'delete',

                        success:function (result){
                            console.log("result: " + result);
                            if(result === 'success'){
                                alert("댓글이 삭제되었습니다.");
                                modal.modal('hide');
                                loadJSONData();
                            }
                        }
                    })
                })

                var modal = $('.modal');
                $(".addReply").click(function (){
                    modal.modal('show');

                    $('input[name="replyText"]').val('');
                    $('input[name="replyer"]').val('');

                    $(".modal-footer .btn").hide();
                    $(".replySave, .replyClose").show();
                })

                $(".replyModify").click(function (){
                    var rno = $("input[name='rno']").val();

                    var reply={
                        rno:rno,
                        bno:bno,
                        text: $('input[name="replyText"]').val(),
                        replyer: $('input[name="replyer"]').val()
                    }

                    console.log(reply);

                    $.ajax({
                        url: '/replies/' + rno,
                        method: 'put',
                        data: JSON.stringify(reply),
                        contentType: 'application/json; charset=utf-8',
                        success: function(result){

                            console.log("RESULT: " + result);

                            if(result == 'success'){
                                alert("댓글이 수정되었습니다");
                                modal.modal('hide');
                                loadJSONData();
                            }
                        }
                    })
                })


                $(".replySave").click(function (){
                    var reply = {
                        bno: bno,
                        text: $('input[name="replyText"]').val(),
                        replyer:$('input[name="replyer"]').val()
                    }
                    console.log(reply);

                    $.ajax({
                        url: "/replies/",
                        method: 'post',
                        data: JSON.stringify(reply),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data){
                            console.log(data);

                            var newRno = parseInt(data);

                            alert(newRno + "번 댓글이 등록되었습니다.")
                            modal.modal('hide');
                            loadJSONData();
                        }
                    })
                })
            });

        </script>


    </th:block>
</th:block>
