body {
    margin: 0;
    padding: 0;
}
.header {
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.container {
    width: 600px;
    margin: auto;
}
.container-left {
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo {
    float: left;
    margin-right: 5px;
}
.logo img {
    display: block;
}
.menu {
    float: left;
}
.menu-item {
    float: left;
    /* margin-right: 10px; */
    padding: 8px 10px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}