<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-bind:id="uuid" v-bind:class="name"> {{ num }} </p>
<!--        <p id="abc1234"> {{ num }} </p>-->
        <p> {{ doubleNum }}</p>
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show="loading">
           test
        </div>
        <input type="text" v-model="message">
        <p> {{ message }}</p>
    </div>
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num: 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: ''
            },
            computed: {
               doubleNum: function (){
                   return this.num * 2;
               }
            }
        })
    </script>
</body>
</html>